.btn-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.user-faborite-dest {
  height: 35vh;
}

.btn-containee {
  margin: 10px;
  width: 100%;
}

.btn-containee button {
  width: 100%;
}

.destination-container {
  width: 30%;
  margin: 5px;
  height: 400px;
}

.dest-icon img {
  width: 90%;
  height: 100%;
}

.search-destination {
  top: 10px;
}

.destination-page {
  width: 98vw;
}
