.calendar {
  width: 80%;
  margin: 0 auto;
}

/* .calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calendar {
  margin: 10px;
  flex-basis: 30%;
  text-align: -webkit-center;
} */
