.calendar {
  width: 100%;
  margin: 0 auto;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.btn-param {
  margin: 2vw auto 2vw;
}

.mobiscroll-container {
  width: 50vw;
  margin: 0 auto;
}

.calendar-page {
  width: 100wv;
}
