.all-page {
  height: 100vh;
}

source {
  max-width: 90vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}

.direction-container {
  margin-right: 5vw;
}

.direction-container a {
  margin: 10px;
}

.mid-container {
  position: relative;
}

.video {
  position: relative;
  z-index: 0;
  height: 80vh;
  overflow: hidden;
}

video {
  opacity: 0.5;
  width: 100vw;
}
.baseline {
  top: 45%;
  left: 15%;
  position: absolute;
  z-index: 1;
  width: 70%;
}

.responsive {
  float: left;
}
