.destination-result-container {
  display: flex;
  justify-content: center;
}

.destination-result {
  display: flex;
  width: 20%;
}

.destination-result img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
